@model IEnumerable<ToDoListModel>

@section PageHeader {
    <h2>Your ToDo's List</h2>
}

<a class="create" asp-controller="ToDoList" asp-action="Create">Create new List</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Tasks count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @(await Html.PartialAsync("_ToDoListRow", item))
        }
    </tbody>
</table>