<!DOCTYPE html>
<html>
    <head>
        <title>WebPage</title>
        <link href="~/styles/app.css" rel="stylesheet" />
    </head>
    <body>
        <menu>
            <a asp-controller="Home" asp-action="Index">To-Do Lists</a>
            <a asp-controller="ToDo" asp-action="Index" asp-route-userId="@(1 as int?)">Your To-Dos</a>
        </menu>
        <div class="body">
            <div>
            @(await RenderSectionAsync("PageHeader", true))
            </div>
            @RenderBody()
        </div>
        <footer>
            Made by Dudik Vladislav!
        </footer>

    @(await RenderSectionAsync("Scripts", required: false))
    </body>
</html>