@using ToDoApplicationMVC.BLL.Models
@model ToDoListModel

@section PageHeader {
    <h2>Confirm removal of List: @Model.Name</h2>
}

<form asp-controller="ToDoList" asp-action="ConfirmDelete" method="post">
    <input type="hidden" asp-for="@Model.Id" />

    @Html.DisplayForModel(Model)

    <div class="form-row">
        <input type="submit" value="Confirm" />
    </div>
</form>