@model ToDoModel

@{
    var listid = ViewData["List"] as int?;
}

@section PageHeader {
    <h2>Edit ToDo @Model.Name</h2>
}

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="listid" asp-for="@Model.ToDoListId" />
    <div class="form-row">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" . />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" . />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="CreatedAt" class="control-label"></label>
        <input asp-for="CreatedAt" class="form-control" type="date" . />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="Deadline" class="control-label"></label>
        <input asp-for="Deadline" class="form-control" type="date" . />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" class="form-control">
            <option value="InProgress">In Progress</option>
            <option value="Completed">Completed</option>
            <option value="Failed">Failed</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="TagsInput" class="control-label"></label>
        <input asp-for="TagsInput" class="form-control" . />
    </div>

    <div class="form-row">
        <input type="submit" value="Edit" . />
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}