@using ToDoApplicationMVC.BLL.Models
@model IEnumerable<ToDoModel>

@section PageHeader {
    <h2>List of To-Dos for Tag @ViewBag.Tag</h2>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Creation Date</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @(await Html.PartialAsync("_ToDoRowList", item))
        }
    </tbody>
</table>

